body{
    font-family: Arial;
    display: flex;
    justify-content: center;
}

.quizbody{
    margin-top: 100px; 
    width: 400px;
    height: 300px;
    background-color:blue ;    
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px red;
    color: azure;
    cursor:zoom-in;
    
}

.options{
    background-color: green;
    margin:  8px 0;
    border-radius: 7px;
}
button{
    color: brown;
    background-color: blueviolet;
    cursor: grab;
}
