main{
    background-color: blueviolet;
    display: grid;
    grid-template-columns:repeat(4,200px);
    grid-template-rows: repeat(4,100px);
    gap: 1em;
    height: 100vh;
    width: 100%;
}
.item1{
    grid-column: 1/1;
    background-color: green;
    grid-row:1/1;
}
.item2{
    background-color: crimson;
    grid-column: 2/2;
    grid-row: 2/1;
}
.item3{
    background-color: darkgoldenrod;
    grid-column: 2/1;
    grid-row: 3/2;
}
.item4{
    background-color: darkorchid;
    grid-column: 2/3;
    grid-row: 3/2;
}
.item5{
    background-color: lawngreen;
    grid-column: 3/1;
    grid-row: 3/3;
}

