/* *{
    width: 0;
    height:0;
    box-sizing: border-box;
} */
body{
    background-color: brown;
    font-size: 30px;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas:
     'hd hd hd'
     'mn fc nv'
     'mn ar nv'
     'mn sc nv'
     'ft ft nv';
     grid-template-columns:1fr 4fr 1fr;
     grid-template-rows:60px 4fr 60px;
}
header{
    background-color: chocolate;
    grid-area: hd;
}
nav{
    background-color: blueviolet;
    grid-area: nv;
}
main{
    background-color: chartreuse;
    grid-area: mn;
}
footer{
    background-color: darkcyan;
    grid-area: ft;
}
section{
    background-color: blue;
    grid-area: sc;
}
article{
    background-color: green;
    grid-area: ar;
    
}
section{
    background-color: darkslategrey;
    grid-area: fc;
}
