*{
    padding: 0;
    margin: 10;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 70px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
     align-items: center;
     border-radius: 10px;
}
li{
    display: inline-block;
    margin-left: 50px;
    font-size: 30px;
}
ul{
    margin-left: -200px;
}
button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    border-width: 2px;   
}
.logo{
    margin-left: -90px;
}
.herobanner{
    width: 100%;
    height: 400px;
    background-color: gray;
}
.text{
    color: black;
    text-align: center;
    padding: 100px;
}
.text h1{
    font-size: 50px;
}
.text p{
    font-size: 20px;
}
.bigcontaner{
    width: 100%;
    height: auto;
    background-color: blue;
}
.smallcontaner{
    width: 250px;
    height: 400px;
    border: 2px solid black;
}
