*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: coral;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: cyan;
    color:royalblue;
    padding: 15px;
    text-align: center;
    width: 100%;
}
header{
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}
main{
    height: 78%;
    width: 100%;
    background-color: blueviolet;
    color: white;
    text-align: center;
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
@media(max-width:768px){
    main{
        background-color:pink
    } 
    footer{
        background-color: brown;
    }   
    header{
        background-color: darkred;
    }
}



    

