h2{
    color: brown;
    font-size: 50px;
    background-color: blueviolet;
    height: 70px;
}
h2:hover{
    color: black;
    background-color: red;
    text-decoration: solid;
}

h6{
    color: aquamarine;
    font-size: 60px;
    background-color: aqua;
    text-shadow: 5px 8px green;
    text-decoration: wavy;
    font-family: monospace;
}
a:link{
    color: yellow;
    font-size: 40px;
    text-decoration: none;
}
a:hover{
color: gray;
}
p{
    color: brown;
    font-size: 50px;
    background-color: chocolate;
}
.differnt{
    color: antiquewhite;
    font-size: 90px;
    background-color: blue;
}
.firstbox{
    height: 100px;
    width: 100px;
    border: 5px solid gray;
    background-color: blue;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-top: 200px;
    padding-left: 50px;
    padding-bottom: 60px;
    padding-right: 50px;
}

.secondbox{
    height: 100px;
    width: 100px;
    border: 3px solid black;
}
.jake{
    width: 100%;
    height: 500px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a{
    width: 100px;
    height: 100px;
    background-color: crimson;
}
.b{
    width: 100px;
    height: 100px;
    background-color:darkcyan;
}
.c{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.d{
    width: 100px;
    height: 100px;
    background-color: darkgoldenrod;
}